@model FinancialApp.Models.Transaction

@{
    ViewData["Title"] = "Transaction Details";
    var userCurrency = ViewBag.DefaultCurrency;
}

<style>
    body {
        background-color: #eff6ed;
    }

    .card {
        background-color: #d4e7ce;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        background: linear-gradient(to right, #6c757d, #28a745);
        border-radius: 10px 10px 0 0;
        color: white;
    }

    .card-footer {
        background-color: #eff6ed;
        border-radius: 0 0 10px 10px;
    }

    .btn {
        padding: 10px 20px;
        border-radius: 5px;
    }

    .btn-secondary:hover {
        background-color: #6c757d;
        color: white;
    }

    .btn-warning {
        background-color: #ffc107;
        color: black;
    }

        .btn-warning:hover {
            background-color: #e0a800;
            color: white;
        }

    .text-muted {
        color: #6c757d !important;
    }

    .income-amount {
        color: green;
    }

    .expense-amount {
        color: red;
    }
</style>

<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header text-center py-3">
            <h2 class="mb-0">Transaction Details</h2>
        </div>
        <div class="card-body p-4">
            <div class="row align-items-center mb-4">
                <div class="col-4 text-muted text-uppercase fw-bold">Icon</div>
                <div class="col-8 text-dark fs-5">@Model.Icon</div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-4 text-muted text-uppercase fw-bold">Description</div>
                <div class="col-8 text-dark fs-5">@Model.Category</div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-4 text-muted text-uppercase fw-bold">Amount</div>
                <div class="col-8 fs-5
                    @(Model.Type.ToString() == "Income" ? "income-amount" : (Model.Type.ToString() == "Expense" ? "expense-amount" : ""))">
                    @Model.Amount <span class="text-dark fs-5">@userCurrency</span>
                </div>
            </div>

            <div class="row align-items-center mb-4">
                <div class="col-4 text-muted text-uppercase fw-bold">Type</div>
                <div class="col-8 text-dark fs-5">@Model.Type</div>
            </div>
            <div class="row align-items-center mb-4">
                <div class="col-4 text-muted text-uppercase fw-bold">Account</div>
                <div class="col-8 text-dark fs-5">@Model.Account.Name</div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between py-3">
            <a asp-action="Index" class="btn btn-secondary btn-lg">&#8592; Back to List</a>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-lg">Edit &#9998;</a>
        </div>
    </div>
</div>
